*
{
    box-sizing: border-box;
}
@font-face
{
    font-family: Halo;
    src: url(resources/Halo.ttf);
}
@font-face 
{
    font-family: Street Robot;
    src: url(resources/Street-Robot-Inline.ttf);
}
@font-face 
{
    font-family: VABB;
    src: url(resources/VoiceActivatedBB_reg.otf);
}
body
{
    background: url(images/backgrounds/halo_infinite.jpg) no-repeat center center fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}
#topHeader
{
    z-index: 10;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.548);
    position: fixed;
}
#mainEmblem
{
    max-height: 100px;
    position: absolute;
    left: 30px;
}
#mainTitle
{
    position: absolute;
    left: 0;
    right: 0;
    max-width: 20%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#currencyValue, #currency
{
    color: white;
    font-size: 40px;
    display: inline;
    float: right;
    position: absolute;
    margin: 20px 0px 20px 0;
    font-style: italic;
}
#currencyValue
{   
    right: 100px;
    top: 3px;
    text-align: right;
    font-family: VABB, Arial, Helvetica, sans-serif;
}
#currency
{
    right: 40px;
    top: 7px;
    font-family: "Street Robot", Arial, Helvetica, sans-serif;
}
#sideNav
{
    display: none;
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.548);
    width: 20%;
    height: 100vw;
    top: 100px;
}
#navList
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navList li
{
    padding: 3vh;
}
#navList li a, #navList li a:visited, #navList li a:link, #navList li a:visited:active, #navList li a:link:active
{
    color: white;
    text-decoration: none;
    font-size: 3vh;
    font-family: VABB, Arial, Helvetica, sans-serif;
}

#infoContainer
{
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 20vw;
    top: 20vh;
    border-radius: 10px;
}
#infoBG
{
    height: 100%;
    width: 100%;
    position: inherit;
    background: url(images/backgrounds/some_map.jpg) no-repeat center center fixed;
    border-radius: inherit;
    filter: blur(3px);
    opacity: 0.5;
}
#infoContainer h1
{
    position: inherit;
    font-family: VABB, Arial, Helvetica, sans-serif;
    font-size: 4vh;
    left: 3%;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.2px;
}
#infoContainer p
{
    position: inherit;
    display: inline;
    padding: 0;
    margin: 0;
    font-family: VABB, Arial, Helvetica, sans-serif;
    font-size: 3vh;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.8px;
    left: 3%;
    top: 15%;
}