@media screen and (max-width: 768px) {
    #item1, #bundleItem1
    {
        position: absolute;
        left: 10%;
        height: 20vmin;
        width: 25vmin;
    }
    #item2, #bundleItem2
    {
        position: absolute;
        left: 65%;
        height: 20vmin;
        width: 25vmin;
    }
    #item3, #bundleItem3
    {
        position: absolute;
        left: 10%;
        top: 60%;
        height: 20vmin;
        width: 25vmin;
    }
    #item4, #bundleItem4
    {
        position: absolute;
        left: 65%;
        top: 60%;
        height: 20vmin;
        width: 25vmin;
    }
    .itemName, .bundleItemName
    {
        font-size: 4vmin;
    }
    #mainTitle, #promethean, #featuredDarken, #featuredP
    {
        display:none;
    }
    #featured
    {
        top: 25vh;
        width: 100vw;
    }
    .currencyClass, .itemPrice
    {
        font-size: 3vmin;
        left: 0;
    }
    .currencyClass
    {
        top: 83%;
    }
    #featuredText
    {
        left: 0;
        max-width: 100%;
        bottom: 90%;
    }
    #sideNav
    {
        width: 25%;
    }
    #bundleWrapper
    {
        position: relative;
        top: 75vh;
        width: 100vw;
    }
    #bundleDarken, #chief, #locke
    {
        display: none;
    }
}
@media screen and (max-width: 420px) {
    #sideNav
    {
        width: 100%;
    }
    #currencyValue, #currency
    {
        font-size: 30px;
    }
}
@media screen and (max-width: 400px) {
    *
    {
        display: none;
    }
}