@media screen and (max-width: 1200px) {
    #dealMSG a
    {
        font-size: 2.5vw;
        left: 8.5%;
    }
}
@media screen and (max-width: 768px) {
    #mainTitle
    {
        display: none;
    }
    #sideNav
    {
        width: 100%;
        height: 100%;
    }
    #dealMSG a
    {
        font-size: 3vw;
        left: 0;
    }
}
@media screen and (max-width: 420px){
    #currencyValue, #currency
    {
        font-size: 30px;
    }
}
@media screen and (max-width: 400px) {
    *
    {
        display: none;
    }
}