*
{
    box-sizing: border-box;
}
@font-face
{
    font-family: Halo;
    src: url(resources/Halo.ttf);
}
@font-face 
{
    font-family: Street Robot;
    src: url(resources/Street-Robot-Inline.ttf);
}
@font-face 
{
    font-family: VABB;
    src: url(resources/VoiceActivatedBB_reg.otf);
}
body
{
    background: url(images/backgrounds/background.jpeg) no-repeat center center fixed;
    background-size: cover;
    background-color: black;
    padding: 0;
    margin: 0;
}
#topHeader
{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.548);
    position: fixed;
}
#mainEmblem
{
    max-height: 100px;
    position: absolute;
    left: 30px;
}
#mainTitle
{
    position: absolute;
    left: 0;
    right: 0;
    max-width: 20%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#currencyValue, #currency
{
    color: white;
    font-size: 40px;
    display: inline;
    float: right;
    position: absolute;
    margin: 20px 0px 20px 0;
    font-style: italic;
}
#currencyValue
{   
    right: 100px;
    top: 3px;
    text-align: right;
    font-family: VABB, Arial, Helvetica, sans-serif;
}
#currency
{
    right: 40px;
    top: 7px;
    font-family: "Street Robot", Arial, Helvetica, sans-serif;
}
#sideNav
{
    display: none;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.623);
    width: 20%;
    height: 89.5vh;
    top: 100px;
}
#navList
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navList li
{
    padding: 3vh;
}
#navList li a, #navList li a:visited, #navList li a:link, #navList li a:visited:active, #navList li a:link:active
{
    color: white;
    text-decoration: none;
    font-size: 3vh;
    font-family: VABB, Arial, Helvetica, sans-serif;
}
#featured
{
    display: inline;
    position: absolute;
    height: 50%;
    width: 100vh;
    top: 220px;
}
#featuredBG
{
    position: inherit;
    height: 100%;
    width: 100%;
    background-color: gold;
    background-image: url(images/backgrounds/promethean_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
}
#featuredDarken
{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.404);
    left: 50%;
    top: 220px;
    z-index: -1;
}
#promethean
{
    position: inherit;
    max-width: 50%;
    min-width: 25%;
    left: -10%;
    top: -20%;
    filter: brightness(125%);
    filter: contrast(150%);
}
#featuredText
{
    position: absolute;
    max-width: 80%;
    left: 25%;
    bottom: 80%;
}
#featuredP
{
    max-width: 75%;
    font-size: 1.8vmin;
    color: white;
    position: relative;
    left: 5%;
    font-family: VABB, Arial, Helvetica, sans-serif;
}
.items
{
    height: 15vmin;
    width: 20vmin;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    border: 2px solid black;
    border-radius: 5%;
}
#item1
{
    left: 45%;
    top: 15%;
}
#item1 img
{
    max-width: 100%;
    position: absolute;
    top: 25%;
    filter: contrast(110%);
    transform: rotate(30deg);
}
.itemName
{
    color: white;
    text-shadow: 2px 2px orange;
    font-size: 3vmin;
    font-family: VABB, Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 75%;
    left: 5%
}
#item2
{
    left: 70%;
    top: 15%;
}
#item2 img
{
    max-width: 100%;
    position: absolute;
    transform: rotate(-30deg);
    top: 30%;
}
#item3
{
    left: 45%;
    top: 60%;
}
#item3 img
{
    max-width: 75%;
    position: absolute;
    top: 15%;
    left: 15%;
}
#item4
{
    left: 70%;
    top: 60%;
}
#item4 img
{
    max-width: 100%;
    position: absolute;
    top: 25%
}
.itemPrice
{
    position: absolute;
    font-family: VABB, Arial, Helvetica, sans-serif;
    font-size: 100%;
    color:white;
    top: 75%;
    font-style: italic;
}
.currencyClass
{
    position: absolute;
    font-family: "Street Robot", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 83%;
    top: 79%;
    left: 25%;
    font-style: italic;
}